name: Crystal CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal

    steps:
    - uses: actions/checkout@v3
    - name: Check formatting
      run: crystal tool format --check
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec --error-trace
